/* get and set attribute */
/* .box, .box-setting{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 0px auto;
    background-color: aqua;
} */

/* classList property: */

/* .box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 0px auto;
    background-color: aqua;
}

.helloBox{
    background-color: pink;
} */

/* insert elements */
.container{
    background-color: aqua;
    height: 300px;
}