/* textContent property */
/* .hideEleContainer{
    background-color: pink;
}

.hideEleContainer p{
    display: none;
    visibility: hidden;
} */

/* practice ques */
.pracBox{
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 30px;
    text-align: center;
}